<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>Tasks list</title>
    <link rel="stylesheet" href="./style.css">
  </head>
<body>
  <div align="center" id="vue_module">
    <h1>Task list</h1>
      <div>Number of available tasks: 
        <span class="counter">{{tasks.length}}</span>
        <div class="form">
          <input id="input" placeholder="Add task" v-model="currentTask.body" @keyup.enter='addTask()'> <!-- @ - v-on обработчик -->
          <button class="btn_add" @click="addTask()">Add</button>
        </div>
      </div>
      <div class="todo-container">
        <div class="list">
          <h1>TODO list</h1>
          <div align="left" class="item" v-for="(task, index) in tasks" :key="task">
            <input type="checkbox" v-model="task.checked">
            <span :class="{'done': task.checked}">{{task.body}}</span> <!-- стили в з-ти от условия -->
            <button class="btn_delete" @click="removeTask(index)">delete</button>
          </div>
        </div>
      </div>
    </div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> <!-- подрубаем vue -->
	<script src="./script.js"></script>
</body>
</html>