.list {
  width:100%;
}
.done {
  text-decoration: line-through;
}
.form {
  margin: 20px 0;
}
.input {
  padding-top: 2px;
}
.btn_add {
  appearance: none;
  border: 1;
  border-radius: 20px;
  background: #4676D7;
  color: #fff;
  padding: 8px 8px;
  font-size: 10px;
}
.btn_delete {
  appearance: none;
  border: 1;
  border-radius: 20px;
  background: #ff0000;
  color: #fff;
  padding: 8px 8px;
  font-size: 10px;
}
.todo-container {
  padding: 20px;
  border: 1px solid #ccc;
  margin: 20px 0;
  display: flex;
}